* {
    /* CSS HEX */
--azure-x-11-web-color: #EAF7FBff;
--dark-sky-blue: #92BDD8ff;
--steel-blue: #4F80A6ff;
--bdazzled-blue: #395A79ff;
--columbia-blue: #D4EDF8ff;

}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    text-align: center;
    background: linear-gradient(0deg, #EAF7FBff, #92BDD8ff, #4F80A6ff, #395A79ff, #D4EDF8ff);
  }

.img {
    max-width: 100%;
    max-height: 600px;
    margin: 5% auto 5% auto;
}
